

.navbar-nav a.nav-link {
  color: #001219; /* Cambia este valor al color deseado */
}

/* Cambiar color del botón */
.btn-outline-success {
  color: #C70039;            /* Color del texto en el botón */
  background-color: #001219;  /* Cambia este valor al color deseado para el fondo del botón */
  border-color: #C70039;      /* Cambia este valor al color deseado para el borde del botón */
}

/* Cambiar color del botón */
.btn-primary1 {
  color: #C70039;            /* Color del texto en el botón */
  background-color: #001219;  /* Cambia este valor al color deseado para el fondo del botón */
  border-color: #C70039;      /* Cambia este valor al color deseado para el borde del botón */
}

/* Cambiar color del botón */
.btn-primary1:hover {
  color: #C70039;            /* Color del texto en el botón */
  background-color: #001219;  /* Cambia este valor al color deseado para el fondo del botón */
  border-color: #001219;      /* Cambia este valor al color deseado para el borde del botón */
}
/* Cambiar color del botón en el hover */
.btn-outline-success:hover {
  color: #C70039;             /* Cambia este valor al color deseado para el texto en hover */
  background-color: #001219; /* Cambia este valor al color deseado para el fondo en hover */
  border-color: #001219;      /* Cambia este valor al color deseado para el borde en hover */
}


.btn-outline-success:active {
  color: #C70039 !important;           /* Cambia este valor al color deseado para el texto en el clic */
  background-color: #001219 !important; /* Cambia este valor al color deseado para el fondo en el clic */
  border-color: #C70039 !important;     /* Cambia este valor al color deseado para el borde en el clic */
}

.dropdown-item:active {
  color: #C70039 !important;           /* Cambia este valor al color deseado para el texto en el clic */
  background-color: #001219 !important; /* Cambia este valor al color deseado para el fondo en el clic */
  border-color: #001219 !important;     /* Cambia este valor al color deseado para el borde en el clic */
}

.nav-item:hover {
  color: #C70039 !important;            /* Cambia este valor al color deseado para el texto en hover */
  background-color: #001219 !important;   /* Cambia este valor al color deseado para el fondo en hover */
  border-color: #001219 !important;        /* Cambia este valor al color deseado para el borde en hover */
  border-radius: 25px;
}
.dropdown-item:hover {
  color: #C70039 !important;            /* Cambia este valor al color deseado para el texto en hover */
  background-color: #001219 !important;   /* Cambia este valor al color deseado para el fondo en hover */
  border-color: #001219 !important;        /* Cambia este valor al color deseado para el borde en hover */
  border-radius: 25px;
}

.dropdown:active {
             /* Cambia este valor al color deseado para el texto en el clic */
  background-color: #001219;   /* Cambia este valor al color deseado para el borde en el clic */
}
.dropdown-menu {       /* Cambia este valor al color deseado para el borde en hover */
  border-radius: 25px;
}
.offcanvas-body:hover {       /* Cambia este valor al color deseado para el borde en hover */
  border-radius: 50px;
}





.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 9999;
  animation: slideIn 8s forwards, slideOut 10s forwards;
}
.notification.error {
  background-color: #f44336;
}
@keyframes slideIn {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  80% {
      transform: translateX(-10%);
      opacity: 1;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes slideOut {
  0% {
      transform: translateX(0);
      opacity: 1;
  }
  100% {
      transform: translateX(100%);
      opacity: 0;
  }
}






/* Estilos para centrar y animar el icono de carga */
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.00001); /* Fondo semi transparente */
  display: none; /* Inicialmente oculto */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Z-index alto para que esté en primer plano */
}


.loading-icon {
  border: 8px solid #001219;
  border-top: 8px solid #C70039; /* Color del icono de carga */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite; /* Animación de rotación */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





/* Estilos para las tarjetas */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 0.5px solid #C70039;
    border-radius: 5px;
}






        /* Estilos para el cuadrado de color */
        .color-square {
            width: 85px;
            height: 25px;
            display: inline-block;
            margin-right: 10px;
        }
