

.navbar-nav a.nav-link {
  color: #001219; /* Cambia este valor al color deseado */
}

/* Cambiar color del botón */
.btn-outline-success {
  color: #C70039;            /* Color del texto en el botón */
  background-color: #001219;  /* Cambia este valor al color deseado para el fondo del botón */
  border-color: #C70039;      /* Cambia este valor al color deseado para el borde del botón */
}

/* Cambiar color del botón */
.btn-primary1 {
  color: #C70039;            /* Color del texto en el botón */
  background-color: #001219;  /* Cambia este valor al color deseado para el fondo del botón */
  border-color: #C70039;      /* Cambia este valor al color deseado para el borde del botón */
}

/* Cambiar color del botón */
.btn-primary1:hover {
  color: #C70039;            /* Color del texto en el botón */
  background-color: #001219;  /* Cambia este valor al color deseado para el fondo del botón */
  border-color: #001219;      /* Cambia este valor al color deseado para el borde del botón */
}
/* Cambiar color del botón en el hover */
.btn-outline-success:hover {
  color: #C70039;             /* Cambia este valor al color deseado para el texto en hover */
  background-color: #001219; /* Cambia este valor al color deseado para el fondo en hover */
  border-color: #001219;      /* Cambia este valor al color deseado para el borde en hover */
}


.btn-outline-success:active {
  color: #C70039 !important;           /* Cambia este valor al color deseado para el texto en el clic */
  background-color: #001219 !important; /* Cambia este valor al color deseado para el fondo en el clic */
  border-color: #C70039 !important;     /* Cambia este valor al color deseado para el borde en el clic */
}

.dropdown-item:active {
  color: #C70039 !important;           /* Cambia este valor al color deseado para el texto en el clic */
  background-color: #001219 !important; /* Cambia este valor al color deseado para el fondo en el clic */
  border-color: #001219 !important;     /* Cambia este valor al color deseado para el borde en el clic */
}

.nav-item:hover {
  color: #C70039 !important;            /* Cambia este valor al color deseado para el texto en hover */
  background-color: #001219 !important;   /* Cambia este valor al color deseado para el fondo en hover */
  border-color: #001219 !important;        /* Cambia este valor al color deseado para el borde en hover */
  border-radius: 25px;
}
.dropdown-item:hover {
  color: #C70039 !important;            /* Cambia este valor al color deseado para el texto en hover */
  background-color: #001219 !important;   /* Cambia este valor al color deseado para el fondo en hover */
  border-color: #001219 !important;        /* Cambia este valor al color deseado para el borde en hover */
  border-radius: 25px;
}

.dropdown:active {
             /* Cambia este valor al color deseado para el texto en el clic */
  background-color: #001219;   /* Cambia este valor al color deseado para el borde en el clic */
}
.dropdown-menu {       /* Cambia este valor al color deseado para el borde en hover */
  border-radius: 25px;
}
.offcanvas-body:hover {       /* Cambia este valor al color deseado para el borde en hover */
  border-radius: 50px;
}





.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 9999;
  animation: slideIn 8s forwards, slideOut 10s forwards;
}
.notification.error {
  background-color: #f44336;
}
@keyframes slideIn {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  80% {
      transform: translateX(-10%);
      opacity: 1;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes slideOut {
  0% {
      transform: translateX(0);
      opacity: 1;
  }
  100% {
      transform: translateX(100%);
      opacity: 0;
  }
}






/* Estilos para centrar y animar el icono de carga */
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.00001); /* Fondo semi transparente */
  display: none; /* Inicialmente oculto */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Z-index alto para que esté en primer plano */
}


.loading-icon {
  border: 8px solid #001219;
  border-top: 8px solid #C70039; /* Color del icono de carga */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite; /* Animación de rotación */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





/* Estilos para las tarjetas */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 0.5px solid #C70039;
    border-radius: 5px;
}






        /* Estilos para el cuadrado de color */
        .color-square {
            width: 85px;
            height: 25px;
            display: inline-block;
            margin-right: 10px;
        }



        .edit-button {
          background-color: #001219;
          color: #C70039;
          border: 0.5px solid #C70039;
          padding: 8px 16px;
          font-size: 18px;
          cursor: pointer;
        }
        
        .edit-button i {
          margin-right: 0px; /* Espacio entre el ícono y el texto */
        }

        
        .delete-button {
          background-color: #001219;
          color: #C70039;
          border: 0.1px solid #C70039;
          padding: 4px 4px;
          font-size: 16px;
          cursor: pointer;
        }
        
        .delete-button i {
          margin-right: 0px; /* Espacio entre el ícono y el texto */
        }
        
        .edit-container {
          display: flex; /* Establece el contenedor como flexible */
          align-items: center; /* Centra verticalmente los elementos */
        }
        
        .edit-container input {
          flex: 1; /* El textbox toma el espacio disponible restante */
          margin-right: 10px; /* Espaciado entre el textbox y el botón */
        }
        
        .edit-button {
          /* Estilos adicionales para el botón */
        }
        

        .edit-button1 {
          background-color: #001219;
          color: #C70039;
          border: 0.5px solid #C70039;
          padding: 10px 16px;
          font-size: 24px;
          cursor: pointer;
        }
        
        .edit-button1 i {
          margin-right: 0px; /* Espacio entre el ícono y el texto */
        }




/* Estilo para el contenedor de la casilla de verificación personalizada */
.custom-checkbox {
  position: relative;
  padding-left: 30px; /* Ajusta el espacio a la izquierda para dar lugar al check personalizado */
  cursor: pointer;
}

/* Oculta el check nativo */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Estilo para el check personalizado */
.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px; /* Ajusta el tamaño del check personalizado */
  width: 20px; /* Ajusta el tamaño del check personalizado */
  background-color: #C70039; /* Cambia el color de fondo a tu preferencia */
  border: 1px solid #000; /* Añade un borde personalizado */
}

/* Cambia el estilo del check cuando está marcado */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #4CAF50; /* Cambia el color del check cuando está marcado */
}

/* Estilo para el label de la casilla de verificación */
.custom-checkbox-label {
  margin-top: 5px;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 16px;
  padding-left: 30px; /* Ajusta el espacio a la izquierda para que coincida con el check personalizado */
  position: relative;
}

/* Estilo para el label cuando se coloca el cursor encima (hover) */
.custom-checkbox-label:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

/* Estilo específico para el párrafo clickeable */
.expand-button {
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  color: #C70039; /* Cambia el color del texto a tu preferencia */
  font-weight: bold; /* Cambia el grosor de la fuente a tu preferencia */
  text-decoration: none; /* Agrega un subrayado al texto */
  padding: 5px; /* Añade un poco de espacio alrededor del texto */
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
  border: 1px solid #ccc; /* Agrega un borde alrededor del párrafo */
  border-radius: 5px; /* Agrega esquinas redondeadas al borde */
  transition: background-color 0.3s; /* Agrega una transición suave al cambio de color de fondo al pasar el mouse */
text-align: center;
  /* Estilo para el ícono de flecha a la derecha (->) */
  margin-left: 5px; /* Ajusta el espacio entre el texto y la flecha */
}

/* Cambia el estilo del párrafo al pasar el mouse sobre él */
.expand-button:hover {
  background-color: #C70039; /* Cambia el color de fondo al pasar el mouse */
  color: #fff; /* Cambia el color del texto al pasar el mouse */
}

/* Estilo para la sección expandible */
.expandable-section {
  display: none; /* Oculta la sección por defecto */
  background-color: #f0f0f0; /* Cambia el color de fondo a tu preferencia */
  padding: 10px; /* Agrega relleno interno a tu preferencia */
  border: 1px solid #ccc; /* Agrega un borde a tu preferencia */
  border-radius: 5px; /* Agrega esquinas redondeadas a tu preferencia */
  
           
           
}
/* Estilo específico para el párrafo clickeable */
.expand-button1 {
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  color: #C70039; /* Cambia el color del texto a tu preferencia */
  font-weight: bold; /* Cambia el grosor de la fuente a tu preferencia */
  text-decoration: none; /* Agrega un subrayado al texto */
  padding: 5px; /* Añade un poco de espacio alrededor del texto */
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
  border: 1px solid #ccc; /* Agrega un borde alrededor del párrafo */
  border-radius: 5px; /* Agrega esquinas redondeadas al borde */
  transition: background-color 0.3s; /* Agrega una transición suave al cambio de color de fondo al pasar el mouse */
  text-align: center;
  /* Estilo para el ícono de flecha a la derecha (->) */
  margin-left: 5px; /* Ajusta el espacio entre el texto y la flecha */
}

/* Cambia el estilo del párrafo al pasar el mouse sobre él */
.expand-button1:hover {
  background-color: #C70039; /* Cambia el color de fondo al pasar el mouse */
  color: #fff; /* Cambia el color del texto al pasar el mouse */
}

/* Estilo para la sección expandible */
.expandable-section1 {
  display: none; /* Oculta la sección por defecto */
  background-color: #f0f0f0; /* Cambia el color de fondo a tu preferencia */
  padding: 10px; /* Agrega relleno interno a tu preferencia */
  border: 1px solid #ccc; /* Agrega un borde a tu preferencia */
  border-radius: 5px; /* Agrega esquinas redondeadas a tu preferencia */
  
           
           
}

/* Estilo para el contenedor de tarjetas (si lo necesitas) */
.card-container {
  /* Estilos para el contenido de las tarjetas */
}

/* Estilos para el input como label */
.label-input {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 12px;
  outline: none;
}


.confirm-modal-content-near-button {
  position: absolute;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  top: 0;
  left: 100%;
  transform: translate(-100%, 0);
  z-index: 99999;
  display: inline-block;
}

.confirm-button {
  background-color: #C70039;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.cancel-button {
  background-color: #ccc;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}